name: assigment2

on:
  push:
    branches: ["main"] 
  pull_request:
    branches: ["main"]

  workflow_dispatch:

jobs:
  analyze:
    name: Analyze Java Code
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      - name: Autobuild Project
        uses: github/codeql-action/autobuild@v3

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
          
        

            
          

      
      
    
